In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("data/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [79]:
print(df.groupby(['sex'])['age'].count())
print(df[df['sex'] == "Male"]['age'].count(),df[df['sex'] != "Male"]['age'].count())

sex
Female    10771
Male      21790
Name: age, dtype: int64
21790 10771

### 2. Каков средний возраст (признак age) женщин?

In [151]:
df[df['sex'] == "Female"]["age"].mean()

36.85823043357163

### 3. Какова доля граждан Германии (признак native-country)?

In [154]:
import numpy as np
#нормально
print(np.mean(df["native-country"] == "Germany"))

0.004207487485028101

### 4.-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [153]:
df.groupby(df['salary'] =="<=50K")['age'].mean(),df.groupby(df['salary'] =="<=50K")['age'].std()

(salary
 False    44.249841
 True     36.783738
 Name: age, dtype: float64, salary
 False    10.519028
 True     14.020088
 Name: age, dtype: float64)

### 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [173]:
print(df['education'].unique())
highEducation = ['Bachelors','Prof-school','Assoc-acdm','Assoc-voc','Masters','Doctorate']
print(df[df['salary'] !="<=50K"]['education'].isin(highEducation).all())

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
False

### 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [194]:
df.groupby(['race','sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

### 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [248]:
#df.groupby(df['marital-status'].str.contains("Married"))
married = df[df['sex']== "Male"][df['salary'] ==">50K"]['marital-status'].str.contains("Married").mean() 
non_married = 1 - married
print(married > non_married)

0.8953767637346143 0.10462323626538572

C:\Users\untro\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.